<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">


<style>

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
} 

</style>

</head>
<title>About Us</title>
<body>


<section>

<div class="about-section" style=" background-color: #474e5d; color: white; text-align: center; padding: 120px;">
  <h1>About Us</h1><br>
 <pre style="color:white; font-size:24px;">We are here to store Student Information.
  To register students and enroll into the courses we have designed this page. .</pre>
</div>

</section>
</body>
</html>