<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">


<style>

.contact {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

</style>
<title>Contact Us</title>
</head>

<body>

<div class="contact" style="  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;">
  <h1>Contact Us</h1><br>
 
 <p> If you have any queries or you are facing some issues while handling our page, 
 You can contact us through below details</p> 
 
 
 <p>Email Id: shraddhatesting37@gmail.com<br>
Mobile No.: 8830897959   </p>
 </div>

</body>
</html>